<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>DEBUG_TITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Key</key>
            <string>pref.key_debug_on</string>
            <key>Title</key>
            <string>启用调试</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_show_hud</string>
            <key>Title</key>
            <string>显示视频流信息</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_net_protocol</string>
            <key>Title</key>
            <string>TCP</string>
            <key>IASKSubtitle</key>
            <string>打开是TCP，关闭是UDP</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_tcp_timeout</string>
            <key>Title</key>
            <string>TCP超时(毫秒)</string>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
            <key>KeyboardType</key>
            <string>NumberPad</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_net_port</string>
            <key>Title</key>
            <string>网络端口</string>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
            <key>KeyboardType</key>
            <string>NumberPad</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_send_time_switch</string>
            <key>Title</key>
            <string>启用延迟发送</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_send_time</string>
            <key>Title</key>
            <string>延迟发送(毫秒)</string>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
            <key>KeyboardType</key>
            <string>NumberPad</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_send_period_switch</string>
            <key>Title</key>
            <string>启用循环发送</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_send_period</string>
            <key>Title</key>
            <string>循环发送(毫秒)</string>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
            <key>KeyboardType</key>
            <string>NumberPad</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>pref.key_debug_string</string>
            <key>Title</key>
            <string>发送的字符串</string>
            <key>Type</key>
            <string>PSTextFieldSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
            <key>KeyboardType</key>
            <string>Alphabet</string>
        </dict>
	</array>
</dict>
</plist>
